{% extends 'carversal/template.html' %}
{% block form %}
{% load static %}
<form method="get" action="{% url 'carversal:search' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="model-search-content">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-2 col-sm-12">
                            <div class="single-model-search">
                                <h2>select year</h2>
                                <div class="model-select-icon">
                                    <select class="form-control" name="year">
                                        <option value="default">year</option>
                                        {% for year in sorted.year%}
                                        <option value="{{year}}">{{year}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="single-model-search">
                                <h2>body style</h2>
                                <div class="model-select-icon">
                                    <select class="form-control" name="style">
                                        <option value="default">style</option>
                                        {% for style in sorted.style%}
                                        <option value="{{style}}">{{style}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-offset-1 col-md-2 col-sm-12">
                            <div class="single-model-search">
                                <h2>select make</h2>
                                <div class="model-select-icon">
                                    <select class="form-control" name="make">
                                        <option value="default">make</option>
                                        {% for make in sorted.make%}
                                        <option value="{{make}}">{{make}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="single-model-search">
                                <h2>car condition</h2>
                                <div class="model-select-icon">
                                    <select class="form-control" name="condition">
                                        <option value="default">condition</option>
                                        {% for condition in sorted.condition%}
                                        <option value="{{condition}}">{{condition}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-offset-1 col-md-2 col-sm-12">
                            <div class="single-model-search">
                                <h2>select model</h2>
                                <div class="model-select-icon">
                                    <select class="form-control" name="model">
                                        <option value="default">model</option>
                                        {% for model in sorted.model%}
                                        <option value="{{model}}">{{model}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
<!--                            <div class="single-model-search">-->
<!--                                <h2>select price</h2>-->
<!--                                <div class="model-select-icon">-->
<!--                                    <select class="form-control" name="price">-->
<!--                                        <option value="default"></option>-->
<!--                                        <option value="0"></option>-->
<!--                                        <option value="10000">$10,000.00</option>-->
<!--                                        <option value="20000">$20,000.00</option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <div class="single-model-search text-center">
                                <button class="welcome-btn model-search-btn" type="submit">search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{%block body %}
{% load static %}

		<!--service start -->
		<section id="service" class="service">
			<div class="container">
				<div class="service-content">
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="single-service-item">
								<div class="single-service-icon">
									<i class="flaticon-car"></i>
								</div>
								<h2><a href="#">largest dealership <span> of</span> car</a></h2>
								<p>
									"Driving Dreams, Pioneering Paths: Premier Selection at State's Largest Dealership."
								</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="single-service-item">
								<div class="single-service-icon">
									<i class="flaticon-car-repair"></i>
								</div>
								<h2><a href="#">unlimited repair warranty</a></h2>
								<p>
									"Elevate Your Confidence: Unlimited Warranty, Limitless Peace of Mind."
								</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="single-service-item">
								<div class="single-service-icon">
									<i class="flaticon-car-1"></i>
								</div>
								<h2><a href="#">insurance support</a></h2>
								<p>
									"Empowering Your Journey: Unmatched Insurance Support Every Mile of the Way."
								</p>
							</div>
						</div>
					</div>
				</div>
			</div><!--/.container-->

		</section><!--/.service-->
		<!--service end-->

		<!--new-cars start -->
<section id="new-cars" class="new-cars">
    <div class="container">
        <div class="section-header">
            <p>checkout <span>the</span> latest cars</p>
            <h2>newest cars</h2>
        </div><!--/.section-header-->
        <div class="new-cars-content">
            <div class="owl-carousel owl-theme" id="new-cars-carousel">
                {% for car in context.cars %}
                <div class="new-cars-item">
                    <div class="single-new-cars-item">
                        <div class="row">
                            <div class="col-md-7 col-sm-12">
                                <div class="new-cars-img">
                                    <img src="{{ car.image.url }}" alt="{{ car.Car_name }}"/>
                                </div><!--/.new-cars-img-->
                            </div>
                            <div class="col-md-5 col-sm-12">
                                <div class="new-cars-txt">
                                    <h2><a href="#">{{ car.Car_name }}</a></h2>
                                    <p>{{ car.desc }}</p>
                                    <p class="new-cars-para2">Year: {{ car.year }}, Body Type: {{ car.bodytype }}, Condition: {{ car.Condition }}, Price: {{ car.price }}</p>
                                     <form action="{% url 'carversal:add_to_cart' car.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="welcome-btn new-cars-btn">Add to Cart</button>
                                    </form>
                                </div><!--/.new-cars-txt-->
                            </div><!--/.col-->
                        </div><!--/.row-->
                    </div><!--/.single-new-cars-item-->
                </div><!--/.new-cars-item-->
                {% endfor %}
            </div><!--/.new-cars-item-->
        </div><!--/#new-cars-carousel-->
    </div><!--/.container-->
</section><!--/#new-cars-->




<!--featured-cars start -->
<section id="featured-cars" class="featured-cars">
    <div class="container">
        <div class="section-header">
            <p>checkout <span>the</span> featured cars</p>
            <h2>featured cars</h2>
        </div><!--/.section-header-->
        <div class="featured-cars-content">
            <div class="row">
                {% for car in cars %}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-featured-cars">
                            <div class="featured-img-box">
                                <div class="featured-cars-img">
                                    <img src="{{ car.image.url }}" alt="cars">
                                </div>
                                <div class="featured-model-info">
                                    <p>
                                        model: {{ car.year }}
                                        <span class="featured-mi-span">{{ car.mileage }} mi</span>
                                        <span class="featured-hp-span">{{ car.horsepower }}HP</span>
                                    </p>
                                </div>
                            </div>
                            <div class="featured-cars-txt">
                             <form method="GET" action="{% url 'carversal:details' car.id %}">
                                    <input type="hidden" name="Year" value="{{ car.year }}">
                                    <input type="hidden" name="Style" value="{{ car.style }}">
                                    <input type="hidden" name="Make" value="{{ car.make }}">
                                    <input type="hidden" name="Condition" value="{{ car.condition }}">
                                    <input type="hidden" name="Model" value="{{ car.model }}">
                                    <button type="submit" class="featured-car-button">
                                        <h2>{{car.model}}</h2>
                                    </button>
                                </form>
                                <div class="car-details" style="margin-top: 10px;">
                                 <h3>Rs{{ car.price }}</h3>
                                <p>{{ car.desc }}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 and not forloop.last %}
                        </div><div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        </div><!--/.featured-cars-content-->
    </div><!--/.container-->
</section><!--/.featured-cars-->



		<!-- clients-say strat -->
		<section id="clients-say"  class="clients-say">
			<div class="container">
				<div class="section-header">
					<h2>what our clients say</h2>
				</div><!--/.section-header-->
				<div class="row">
					<div class="owl-carousel testimonial-carousel">
						<div class="col-sm-3 col-xs-12">
							<div class="single-testimonial-box">
								<div class="testimonial-description">
									<div class="testimonial-info">
										<div class="testimonial-img">
											<img src="{%static 'carversal/images/clients/c1.png' %}" alt="image of clients person" />
										</div><!--/.testimonial-img-->
									</div><!--/.testimonial-info-->
									<div class="testimonial-comment">
										<p>
											"Top-notch service and diverse selection! This showroom exceeded my expectations. The staff were friendly and knowledgeable, guiding me to the perfect car. The variety of vehicles catered to all tastes and budgets. Overall, a fantastic experience!"
										</p>
									</div><!--/.testimonial-comment-->
									<div class="testimonial-person">
										<h2><a href="#">tomas lili</a></h2>
										<h4>new delhi</h4>
									</div><!--/.testimonial-person-->
								</div><!--/.testimonial-description-->
							</div><!--/.single-testimonial-box-->
						</div><!--/.col-->
						<div class="col-sm-3 col-xs-12">
							<div class="single-testimonial-box">
								<div class="testimonial-description">
									<div class="testimonial-info">
										<div class="testimonial-img">
											<img src="{%static 'carversal/images/clients/c2.png' %}" alt="image of clients person" />
										</div><!--/.testimonial-img-->
									</div><!--/.testimonial-info-->
									<div class="testimonial-comment">
										<p>
											"Outstanding service, impressive variety! This showroom is a gem. The staff were incredibly helpful, making the car-buying process a breeze. They have a wide range of vehicles to suit every need. Highly recommend!"
										</p>
									</div><!--/.testimonial-comment-->
									<div class="testimonial-person">
										<h2><a href="#">romi rain</a></h2>
										<h4>banglore</h4>
									</div><!--/.testimonial-person-->
								</div><!--/.testimonial-description-->
							</div><!--/.single-testimonial-box-->
						</div><!--/.col-->
						<div class="col-sm-3 col-xs-12">
							<div class="single-testimonial-box">
								<div class="testimonial-description">
									<div class="testimonial-info">
										<div class="testimonial-img">
											<img src="{%static 'carversal/images/clients/c3.png' %}" alt="image of clients person" />
										</div><!--/.testimonial-img-->
									</div><!--/.testimonial-info-->
									<div class="testimonial-comment">
										<p>
											"Exceptional showroom experience! From the moment I walked in, I was impressed. The staff were attentive and knowledgeable, assisting me in finding the perfect car. The selection was diverse, ensuring there's something for everyone. Couldn't be happier with my purchase!"
										</p>
									</div><!--/.testimonial-comment-->
									<div class="testimonial-person">
										<h2><a href="#">john doe</a></h2>
										<h4>sikkim</h4>
									</div><!--/.testimonial-person-->
								</div><!--/.testimonial-description-->
							</div><!--/.single-testimonial-box-->
						</div><!--/.col-->
					</div><!--/.testimonial-carousel-->
				</div><!--/.row-->
			</div><!--/.container-->

		</section><!--/.clients-say-->	
		<!-- clients-say end -->
{% endblock %}

